body {
  background-color: rgb(253, 251, 251);
  color: rgb(156, 102, 0);
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

header {
  top: 0;
  position: fixed;
}

.indice {
  list-style: none;
}

.lado-esquerdo {
  display: inline-block;
  width: 40%;
  position: relative;
}

.lado-direito {
  display: inline-block;
  width: 40%;
  position: relative;
}

.separa {
  height: 100%;
  background-color: red;
}

#rodape {
  bottom: 0;
  color: black;
  background-color: lightgray;
  text-align: center;
}

#titulo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#minha_foto {
  width: 400px;
}

#espacamento {
  height: 100px;
}

table , td , th {
  border: solid black 1px;
  margin: 0;
}

table th {
  background-color: lightgray;
}

table , nav , header , section , article , footer {
  padding: 10px;
}
