body{
   background-color: rgb(253, 251, 251);
}
header{
   top: 0;
   position: fixed;
}
#titulo{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
#minha_foto{
width: 400px;
}
#espacamento{
   height: 100px;
}